.custom{
    background: url(../images/img2.jpg);
    background-color: rgba(1, 1, 1, .6);
    background-repeat: no-repeat;
    background-size: cover;

}
.carousel-indicators [data-bs-target] {
    /* box-sizing: content-box;
    flex: 0 1 auto; */
    width: 13px;
    height: 11px;
    /* padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #e4e3ee;
    background-clip: padding-box;
    border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: 0px;
    border-top: 10px solid #aa9d9d00;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s cubic-bezier(.69,.22,.31,.36); */
    border-radius: 50%;
  }